    body {
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.0;
    background-color: white;
    font-size: 120%;
    margin: 0%;
}
    header {
        display: flex;
        flex-direction: column;
        height: 60vh;
        background-color: rgba(49, 47, 47);
        box-shadow: -3px 4px 5px 3px rgba(49, 47, 47, 0.4);
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
    }
    header a {
        margin: 15px;
        text-decoration: none;  
        color: white;
        text-transform: lowercase;
    }
    .tituloHeader {
        position: relative;
        /* top: 50%;
        left: 50%; */
        /* transform: translate(-50%, -50%); */
        text-transform: uppercase;
        font-family: consolas;
        letter-spacing: 5px;
        margin: 0;
        padding: 0;
        color: transparent;
    }
    .tituloHeader::before{
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #000;
        overflow: hidden;
        border-right: 1px solid #000;
        animation: type 6s steps(23) infinite;
        white-space: nowrap;
    }
    @keyframes type {
        0% {
            width: 0%
        }
        50% {
            width: 100%
        }
        100% {
            width: 0%
        }
    }
    h1 {
        text-align: center;
    }
   
    .portfolio {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    
    .portfolio picture {
        flex: 1;
        flex-basis: 30%;
        max-width: 30%;
        margin: 1%;
        box-shadow: -4px 8px 24px rgba(0,0,0,.4);
    }
    p {
        text-indent: 50px;
    }
    .portfolio picture img {
        width: 100%;
    }

    .sobre {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .caixaTexto {
        flex: 1;
        margin: 2%;
        opacity: 1;
        padding: 1%;
        box-shadow: -4px 8px 24px rgba(0,0,0,.4);
    }
    .caixaTexto2 {
        margin: 2%;
        display: none;
        flex: 1;
        padding: 1%;
        box-shadow: -4px 8px 24px rgba(0,0,0,.4);
    }
    .pai {
        position: relative;
        display: flex;
        flex: 1;     
        align-items: center;   
    }
    .pai:active .caixaTexto {
        display: none;
    }
    .pai:active .caixaTexto2 {
        display: block;
    }

    .email {
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        line-height: 20px;
    }
    .email h1 {
        padding: 4px;
    }
    .botao {
        background-color: rgba(49, 47, 47, 0.4);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin-top: 1%;
        /* float: right; */
    }
    footer {
        height: 210px;
        background-color: rgba(49, 47, 47);
        box-shadow: 3px -4px 5px 3px rgba(49, 47, 47, 0.4);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    footer h4 {
        color: white;
        line-height: 38px;
    }

    footer picture {
        display: flex;
        margin-right: 3%;
        margin-top: 1%;
        flex-direction: column;
    }
    footer .github {
        width: 55px;
        height: 55px;
        align-self: flex-start;
    }
    .blog {
        display: flex;
        flex-direction: column;
        color: white;
        line-height: 26px;
        box-shadow: -3px 4px 5px 3px rgba(49, 47, 47, 0.4);
        margin-left: 1%;
        align-items: center;
        justify-content: center;
    }
    .blog h3 {
        margin-bottom: 0px;
    }
    .blog a {
        text-decoration: none;
        color: white;
    }
    .socialMediaPictures {
        display: flex;
        justify-content: center;
        align-content: center;
    }